<div class = "container"%>
<div class = "page-header">
  <%if @user.wordpress_username%>
  <div class="pull-right"><%=link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-info"%></div>
    <%=link_to "Add a Blog", new_user_blog_path(@user)%>
  <%else%>
  <div class="pull-right"><%=link_to "Add Wordpress INfo", edit_user_path(@user), class: "btn btn-info"%></div>
  <%end%>

  <h1><%=@user.username%></h1>
</div>


<%if @user.blog%>
  <table class="table">
    <thead>
      <tr>
          <th> Post Title</th>
          <th> Word Count</th>
          <th> Unique Words per Total Words </th>
          <th> Flesch-Kincaid Grade Level </th>
      </tr>
    </thead>
    <%@blog_posts.each do |blog_post|%>
      <tr>
        <div class=col-md-2>
          <td>
            <%=blog_post.title%>
          </td>
        </div>
        <div class=col-md-2>
          <td>
            <%=blog_post.word_count%>
          </td>
        </div>
        <div class=col-md-2>
          <td>
            <%=blog_post.unique_words_by_word_count%>
          </td>
        </div>
        <div class=col-md-2>
          <td>
            <%=blog_post.flesch_kincaid_grade%>
          </td>
        </div>
      </tr>
    <%end%>
  </table>
<%end%>
<div class="pull-right"><%=link_to 'Compare', compare_user_path(@user), class: "btn btn-info"%></div>
</div>
