<!DOCTYPE html>
<html>
<head>
  <title>BlogReader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <%if current_user && current_user.role == "Teacher"%>
        <a class="navbar-brand" href="/users">WordPress BlogReader</a>
        <%else%>
        <a class="navbar-brand">WordPress BlogReader</a>
        <%end%>
      </div>

      <%if current_user%>
        <ul class="nav navbar-nav navbar-right">
          <li><%=link_to current_user.username, user_path(current_user)%></a></li>
          <li> <%=link_to "Sign Out", sign_out_path%> </li>
        </ul>
      <%end%>
    </div><!-- /.container-fluid -->
  </nav>

<%if flash[:notice]%>
  <%=flash[:notice]%>
<%end%>
<%if flash[:warning]%>
  <%=flash[:warning]%>
<%end%>

<%= yield %>

</body>
</html>
