<!DOCTYPE html>
<html>
<head>
  <title>BlogReader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%if flash[:notice]%>
  <%=flash[:notice]%>
<%end%>
<%=current_user.username%>
<%if flash[:warning]%>
  <%=flash[:warning]%>
<%end%>

<%if current_user%>
  <%=link_to "Sign Out", sign_out_path%>
<%end%>

<%= yield %>

</body>
</html>
